# 主要语言：MATLAB
*.m linguist-language=MATLAB linguist-detectable=true

# Python 正常识别，但不会抢主语言
*.py linguist-language=Python linguist-detectable=true

# Excel、数据文件不参与语言统计
*.xlsx linguist-generated=true
*.xls  linguist-generated=true
*.csv  linguist-generated=true

# 文档、说明不干扰语言显示
*.md linguist-detectable=false
README* linguist-detectable=false
